.gallery {
  position: relative;
  overflow: hidden;

  &-image {
    &-thumb {
      width: 90%;
      height: 100%;
      overflow: hidden;

      @include desktop {
        width: 80%;
        margin: 0 auto;
      }

      img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        object-position: center;
        min-height: 300px;
        transition: all 0.3s ease;

        @include mobile {
          min-height: 240;
        }

        @include mobile-xs {
          min-height: 230px;
          max-height: 230px;
        }

        @include mobile-s {
          min-height: 200px;
          max-height: 200px;
        }
      }
    }

    &:hover {
      .gallery-image-thumb img {
        transform: scale(1.05);
      }
    }
  }
}