.navbar {
  background: transparent;
  padding: 40px 0;
  transition: all 0.3s ease;

  @include desktop {
    position: absolute;
    padding: 10px 20px;
    margin: 40px 10px 0;
    border-radius: 5px;
  }

  .navbar-logo {
    img {
      margin-top: -26px;
      @include desktop {
        margin-top: 0;
        margin-left: 7px;
        margin-bottom: 15px;
        width: 80%;
      }
    }
  }

  &.nav-color-change {
    background: $white;
    padding: 20px 0;
    box-shadow: 0px 10px 20px 0px rgba(50, 65, 141, 0.1);

    @include desktop {
      background: transparent;
      padding: 15px 20px;
      box-shadow: none;
    }
  }

  &.nav-show {
    @include desktop {
      background: $white;
      box-shadow: 10px 10px 20px 10px rgba(50, 65, 141, 0.1);
    }
  }

  @include desktop {
    .navbar-toggler {
      outline: 0;
      padding: 0;

      &-icon {
        height: 2px;
        width: 25px;
        transition: all 0.2s;
        background: $primary;
        display: block;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: 10% 10%;
        }

        &:nth-child(2) {
          opacity: 0;
          filter: alpha(opacity=0);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: 10% 90%;
        }
      }

      &.collapsed {
        background: $white;
        
        .navbar-toggler-icon {
          &:nth-child(1) {
            transform: rotate(0);
          }

          &:nth-child(2) {
            opacity: 1;
            filter: alpha(opacity=1);
          }

          &:nth-child(3) {
            transform: rotate(0);
          }
        }
      }
    }
  }
}