.service {
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 61%;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_item {
    margin: 15px;
    padding: 30px;
    box-shadow: 0px 20px 40px 0px rgba(50, 65, 141, 0.12);
    border-radius: 20px;
    background: $white;
    height: 100%;

    &-icon {
      height: 110px;
      width: 125px;
      position: relative;

      .icon-background {
        position: absolute;
        top: 0;
        right: 0;
      }

      .icon {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }
}