{{ define "main" }}
{{ with .Site.Data.gallery }}
<header class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="contact-title">{{ .title }}</h3>
      </div>
    </div>
  </div>
</header>
<section class="section gallery" id="gallery">
  <div class="container">
    <div class="row row-cols-2">
      {{ range $image := .images }}
      <div class="col-lg-4 mb-4 gallery-image">
        <a data-gallery="gallery1" href="{{ $image | absURL }}" class="gallery-image-thumb glightbox">
          <img src="{{ $image | absURL }}">
        </a>
      </div>
      {{ end }}
    </div>
</section>
{{ end }}
{{ end }}